*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#mainContainer {
    margin-left: 25px;    
}

.paragraph{
    font-size: 16px;
    width: 50%;
}

p{
    color: coral;
}

#paragraph01 {
    color: coral;
}

#headline {
    color: indianred;;
}

button{
    background-color: khaki;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px 10px;    
}

button:hover{
    background-color: rgb(0, 0, 0);
    color: khaki;
    transition: background-color .7s;
}

.change{
    width: 100%;
    color: lightgreen;  

    /* Warum wird der nicht grün? */
}
/* 
Aussagen:
-Wertung der Selectoren
-Kasskadieren erwähnen 
*/






